<%= form_for(@movies) do |f| %>

<p>
	<%= f.label :name %>
	<%= f.text_field:name %>
</p>

<p>
	<%= f.label :name %>
	<%= f.text_field:name %>
</p>

<p>
	<%= f.label :name %>
	<%= f.text_field:name %>
</p>

<p>
	<%= f.label :name %>
	<%= f.text_field:name %>
</p>

<p>
	<%= f.label :name %>
	<%= f.text_field:name %>
</p>

<p>
	<%= f.label :name %>
	<%= f.text_field:name %>
</p>